/.settings/
/.project
/.pydevproject
/datas/
/dlnd/
*.pyc
*/cifar-10-batches-py/
*/cifar-10-python.tar.gz
*/preprocess_batch_*
*/preprocess_training.p
*/preprocess_validation.p
*//preprocess.p
/face_generation/data/
/face_generation/checkpoint/
/face_generation/checkpoints/
